:root {
    --clr-level-000: #101010;
    --clr-level-100: #dbc465;
    --clr-level-200: #dba73d;
    --clr-level-300: #bf7a24;
    --clr-level-400: #e87715;
}

.skill-container {
    width: 100%;
    background-color: var(--clr-level-000);
    border-radius: 25px;
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 6px; /* Add top padding */
    padding-bottom: 6px; /* Add bottom padding */
    font-style: italic;
    color: white; /* White text color */
}

.skill-level-loading {
    width:0%;
    overflow:hidden;
    -webkit-transition: width 1.5s ease-in-out;
    -moz-transition: width 1.5s ease-in-out;
    -o-transition: width 1.5s ease-in-out;
    transition: width 1.5s ease-in-out;
}
  
.html {background-color: var(--clr-level-400); border-radius: 25px; }
.css {background-color: var(--clr-level-200);  border-radius: 25px; }
.js {background-color: var(--clr-level-300); border-radius: 25px;} 
.net {background-color: var(--clr-level-400); border-radius: 25px;} 
.cplusplus {background-color: var(--clr-level-100); border-radius: 25px;}
.angular {background-color: var(--clr-level-300); border-radius: 25px;} 
.java {background-color: var(--clr-level-200); border-radius: 25px;}
.python {background-color: var(--clr-level-300); border-radius: 25px;}