:root {
    --clr-level-000: #101010;
    --clr-level-100: #dbc465;
    --clr-level-200: #dba73d;
    --clr-level-300: #bf7a24;
    --clr-level-400: #e87715;
}

.skill-container {
    width: 100%;
    background-color: var(--clr-level-000);
    border-radius: 25px;
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 6px; /* Add top padding */
    padding-bottom: 6px; /* Add bottom padding */
    font-style: italic;
    color: white; /* White text color */
}
  
.html {width: 70%; background-color: var(--clr-level-400); border-radius: 25px;}
.css {width: 50%; background-color: var(--clr-level-200);  border-radius: 25px;} 
.js {width: 50%; background-color: var(--clr-level-200); border-radius: 25px;} 
.net {width: 80%; background-color: var(--clr-level-400); border-radius: 25px;} 
.cplusplus {width: 45%; background-color: var(--clr-level-100); border-radius: 25px;}
.angular {width: 60%; background-color: var(--clr-level-300); border-radius: 25px;} 
.java {width: 50%; background-color: var(--clr-level-200); border-radius: 25px;}
.python {width: 60%; background-color: var(--clr-level-300); border-radius: 25px;}